
body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(71, 71, 71);
    font-family: 'Ubuntu', sans-serif;
}

.gameBorder{
    width: 100vw;
    height: 100vh;
}

header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 25vh;
}

header h1{

    height: auto;
    color: lightsteelblue;
    font-weight: lighter;
    margin: 10px;
    padding: 0%;
    text-align: center;

}

.moveContainer{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#rockBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 3.8rem;
}


#scissorBtn{

    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 3.8rem;
    
}


#paperBtn{

    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 3.8rem;

}


.playersContainer{
    background-color: rgba(176, 196, 222, 0.7);
    height: 10vh;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;

}

#pointContainer{
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
    height: 20vh;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

#gameContainer {
    background-color:rgba(176, 196, 222, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;
    height: 40vh;
    font-size: 5rem;
    
}

#playerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    font-size: 4rem;
    
}

#playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    font-size: 4rem;
    
}

#playerTwoPoint {
    
    background-color: whitesmoke;
    border: 1px solid black;
    
    border-radius: 10%;
    padding: 10px;
    opacity: 0;
    color: black;
}

#playerOnePoint {

    background-color: whitesmoke;
    border: 1px solid black;
   
    border-radius: 10%;
    padding: 10px;
    opacity: 0;
    color: black;
}