body {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    height: auto;
    background-color: rgb(191, 212, 216);

}

.gameBorder{
    width: 70%;
}

header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 25vh;
}

header h1{

    height: auto;
    background-color: aqua;
    margin: 0%;
    padding: 0%;

}

.moveContainer{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#rockBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 3.8rem;
}

#rockBtn:hover {
    border: 2px solid blueviolet;
}

#scissorBtn{

    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 3.8rem;
    
}

#scissorBtn:hover {
    border: 2px solid blueviolet;
}

#paperBtn{

    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 3.8rem;

}

#paperBtn:hover {
    border: 2px solid blueviolet;
}


.playersContainer{
    background-color: blueviolet;
    height: 10vh;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    color: bisque;

}

#pointContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 20vh;
    font-size: 5rem;
    background-color: aquamarine;
}

#gameContainer {
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;
    height: 40vh;
    font-size: 5rem;
    
}

#playerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 4rem;
    
}

#playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 4rem;
    
}